.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px 0 #000000;
  padding: 10px 22px;
  background: #435168;
  h1 {
    font-size: 38px;
    color: aliceblue;
  }

  input {
    padding: 3px 6px;
    font-size: 16px;
    color: #000000;
  }
}
